.sub_window
  .side-header
    %p.side-header__user-name 
      = current_user.name
    %ul.side-header__user-menu
      .side-header__user-menu__edit-user
        = link_to edit_user_path(current_user), class: "edit-user-btn" do
          %i.fa.fa-cog
      .side-header__user-menu__new-group
        = link_to new_group_path, class: "create-new-group-btn" do
          %i.fa.fa-edit

  .side-groups
    = render partial: "messages/side-groups__group", collection: current_user.groups.order("created_at DESC"), as: "group"
      
