=render partial: "messages/sub_window"
    
.main_window
  .main-header
    .main-header__current-group
      %p.main-header__current-group__name test-group
      %ul.main-header__current-group__members-list
        %p Member :
        %li.main-header__current-group__members-list__member dice

    .main-header__edit-group
      =link_to "Edit", root_path, class: "group-edit-btn" 

  .chats
    =render partial: "messages/chats__chat"
    =render partial: "messages/chats__chat"
    =render partial: "messages/chats__chat"

  .form
    .form__new-message
      .form__new-message__input-box
        %p.form__new-message__input-box__text type a message
        %label.form__new-message__input-box__img{for: "tweet-img"}
          %i.fa.fa-image 
            = file_field_tag :image, id: "tweet-img"

      .form__new-message__submit-btn
        =link_to root_path, class: "new-message-btn" do
          %p Send
