.form{
  background-color: silver;
  @include width_height(calc(100% - 380px), 100px);
  padding: 0 40px;
  position: relative;
  position: fixed;
  bottom: 0;

  &__new-message{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 25px 40px;
    
    &__input-box{
      background-color: white;
      @include width_height(calc(90% - 15px), 50px);
      line-height: 50px;
      float: left;
      margin-right: 15px;
      position: relative;
      
      &__text{
        float: left;
        @include width_height(99%, 48px);
        @include fontsize_color(16px, $text-color);
        // opacity: 0.5;
        border: none;
        padding-left: 10px;
      }
      &__img{
        float: right;
        padding-right: 10px;
        line-height: 50px;
        position: absolute;
        top: 0;
        right: 0;

        .tweet-img{
          color: black;
          display: none;
        }
      }
    }

    &__submit-btn{
      background-color: $background-color;
      float: right;
      height: 50px;
      width: 10%;
      line-height: 50px;
      text-align: center;
      
      .new-message-btn{
        color: white;
        text-decoration:none;
      }
    }
  }
}
